<div class="form-grid">
{% for field in form %}
<div class="mb-3 form-grid__item {% if field.field.widget.input_type == 'checkbox' or field.field.widget.allow_multiple_selected or field.field.widget.attrs.rows %}form-grid__item--full{% endif %}">
    <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
    {{ field }}
    {% if field.help_text %}<div class="form-text">{{ field.help_text }}</div>{% endif %}
    {% for error in field.errors %}<div class="invalid-feedback d-block">{{ error }}</div>{% endfor %}
</div>
{% endfor %}
</div>
{% for error in form.non_field_errors %}
<div class="alert alert-danger">{{ error }}</div>
{% endfor %}
